{% extends "base.html" %}
{% block content %}
  <h1>Tuotteet</h1>

  <p>
    <a href="#" class="btn btn-primary">Lisää tuote</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tuote</th>
        <th>Merkki</th>
        <th>Kuvaus</th>
        <th>Kategoriat</th>
        <th>Arvioita</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan tuotteet tähän -->
      <tr>
        <td><a href="#">Better than sex mascara</a></td>
        <td>Too Faced</td>
        <td>Tuuheuttava ja pidentävä maskara.</td>
        <td><label class="label label-info">värikosmetiikka</label> <label class="label label-info">ripsiväri</label></td>
        <td>2</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}

