{% extends "base.html" %}
{% block content %}
  <h1>Better than sex mascara</h1>
  <h2>Too Faced</h2>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-primary">Lisää arvio</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>

 <h3>Kuvaus:</h3><p>Tuuheuttava ja pidentävä maskara.</p>
<h3>INCI:</h3> <p>Water/aqua/eau, Synthetic Beeswax, Paraffin, Glyceryl Stearate, Acacia Senegal Gum, Butylene Glycol, Oryza Sativa (Rice) Bran Wax, Stearic Acid, Palmitic Acid, Polybutene, VP/Eicosene Copolymer, Cera Carnauba/Copernicia Cerifera (Carnauba) Wax/Cire de carnauba, Aminomethyl Propanol, Glycerin, Ethylhexylglycerin, Hydroxyethylcellulose, Disodium EDTA, Polyester-11, PVP, Cellulose, Trimethylpentanediol/Adipic Acid/Glycerin Crosspolymer, Propylene Glycol, Acacia Senegal Gum Extract, Potassium Sorbate, Dextran, Acetyl Hexapeptide-1. May Contain/Peut Contenir/(+/-): Iron Oxides (CI 77499), Black 2 (CI 77266), Ultramarines (CI 77007)</p>
<h3>Kategoriat:</h3> <label class="label label-info">värikosmetiikka</label> <label class="label label-info">ripsiväri</label>

<h3>Arvioita: (2) </h3> 
<strong> Käyttäjä</strong><p>
Lemppariripsariii ei klumppiinnu eikä kuivu nopeesti. Ripset näyttää ihan tekoripsiltä! Huono puoli heikko (olematon) saatavuus Suomesta.</p>

<strong> Käyttäjä2</strong><p>
Tätä on useamman kerran käyty hakemassa rapakon takaa! Luottomeikkituote, pysyy ripsissä eikä varise!</p>
{% endblock %}