{% extends "base.html" %}
{% block content %}

<h1>{{product.name}}</h1>
<h3>{{product.brandname}}</h3>

<form method="get" action="{{base_path}}/product/{{product.id}}/edit" style="display: inline-block;">
  <button type="submit" class="btn btn-default">Muokkaa</button>
</form>
<form method="post" action="{{base_path}}/product/{{product.id}}/destroy" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
</form>

<h3>Kuvaus:</h3><p>{{product.description}}</p>
<h3>INCI:</h3> <p>{{product.ingredients}}</p>
<h3>Kategoriat:</h3> <label class="label label-info">värikosmetiikka</label> <label class="label label-info">ripsiväri</label>

<h3>Arvioita: (2) </h3> 
<p><button class="btn btn-primary">Lisää arvio</button> </p>
<strong> Käyttäjä</strong><p>
    Lemppariripsariii ei klumppiinnu eikä kuivu nopeesti. Ripset näyttää ihan tekoripsiltä! Huono puoli heikko (olematon) saatavuus Suomesta.</p>

<strong> Käyttäjä2</strong><p>
    Tätä on useamman kerran käyty hakemassa rapakon takaa! Luottomeikkituote, pysyy ripsissä eikä varise!</p>
{% endblock %}
