{% extends "base.html" %}
{% block content %}

<h1>{{product.name}}</h1>
<h3>{{product.brandname}}</h3>

<form method="get" action="{{base_path}}/product/{{product.id}}/edit" style="display: inline-block;">
  <button type="submit" class="btn btn-default">Muokkaa</button>
</form>
<form method="post" action="{{base_path}}/product/{{product.id}}/destroy" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
</form>

<h3>Kuvaus:</h3><p>{{product.description}}</p>
<h3>INCI:</h3> <p>{{product.ingredients}}</p>
<h3>Kategoriat:</h3> 
{% for category in product.categories %}
<label class="label label-info">{{category.categoryname}}</label>
{% endfor %}

<h3>Arvioita: </h3> 
<form method="get" action="{{base_path}}/product/{{product.id}}/comment" style="display: inline-block;">
  <button type="submit" class="btn btn-primary">Lisää kommentti</button>
</form> <br><br>
{% for comment in product.comments %}
<strong>{{comment.writername}}</strong><p>{{comment.text}}</p>
{% endfor %}


{% endblock %}
