{% extends "base.html" %}
{% block content %}
<h1>Käyttäjät</h1>
<p> Tämä sivu toimii vain ylläpitäjälle.</p>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Salasana</th>
            <th>Ikä</th>
            <th></th>
            <th></th>

        </tr>
    </thead>

    <tbody>     
        {% for consumer in consumers %}
        <tr>
            <td>{{consumer.name}}</td>
            <td>{{consumer.password}}</td>
            <td>{{consumer.age}}</td>
            <td><form method="get" action="{{base_path}}/consumer/{{consumer.id}}/edit" style="display: inline-block;">
                    <button type="submit" class="btn btn-default">Muokkaa tietoja</button>
                </form></td>
            <td><form method="post" action="{{base_path}}/consumer/{{consumer.id}}/destroy" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Poista käyttäjä</button>
                </form></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
