{% extends "base.html" %}
{% block content %}
<h1>Käyttäjät</h1>
<p> Tämä sivu näkyy vain ylläpitäjälle.</p>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Salasana</th>
            <th>Ikä</th>

        </tr>
    </thead>

    <tbody>     
        {% for consumer in consumers %}
        <tr>
            <td>{{consumer.name}}</td>
            <td>{{consumer.password}}</td>
            <td>{{consumer.age}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
