{% extends "base.html" %}
{% block content %}
<h1>Rekisteröidy</h1>
<form method="post" action="{{base_path}}/register">

    <div class="form-group">
        <label>Nimimerkki</label>
        <input type="text" name="name" class="form-control" value="{{attributes.name}}">
    </div>

    <div class="form-group">
        <label>Salasana</label>
        <input type="text" name="password" class="form-control" value="{{attributes.password}}">
    </div>

    <div class="form-group">
        <label>Ikä</label>
        <input type="text" name="age" class="form-control" value="{{attributes.age}}">
    </div>
    <button type="submit" class="btn btn-primary">Rekisteröidy</button>
</form>
{% endblock %}
