{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Tervetuloa Kosmetiikkatietokantaan!</h1>
  </div>
<p>Tällä hetkellä toimivat sivut Tuotteet, josta löydät tuotelistauksen. Klikkaamalla tuotelistauksessa tuotteen nimeä, pääset yksittäisen tuotteen sivuille. Lisäksi voit lisätä tietokantaan uuden tuotteen!</p>
<p>Tältä sivustolta löydät tiedot ja arvostelut erilaisista meikkituotteista!</p>
  <p>
    <a href="http://tsoha.github.io" class="btn btn-primary btn-lg">Tutustu materiaaliin <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
{% endblock %}
