{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Tervetuloa Kosmetiikkatietokantaan!</h1>
  </div>
<p>Tällä hetkellä toimivat sivut Tuotteet, josta löydät tuotelistauksen. Klikkaamalla tuotelistauksessa tuotteen nimeä, pääset yksittäisen tuotteen sivuille. Lisäksi voit lisätä tietokantaan uuden tuotteen!</p>
<p><b>Suunnitellut sivunäkymät näet täältä:</b>
<ul>
    <li><a href="http://pelsaara.users.cs.helsinki.fi/tsoha/suunnitelmat/tuote_show">Tuotteen esittelysivu</a>, toteutettu!</li>
    <li><a href="http://pelsaara.users.cs.helsinki.fi/tsoha/suunnitelmat/tuote_list">Tuotteiden listaussivu</a>, toteutettu!</li>
    <li><a href="http://pelsaara.users.cs.helsinki.fi/tsoha/suunnitelmat/tuote_edit">Tuotteen editointisivu</a>, toteutettu!</li>
    <li><a href="http://pelsaara.users.cs.helsinki.fi/tsoha/suunnitelmat/login">Sisäänkirjautuminen</a>, toteutettu!</li>
    <li><a href="http://pelsaara.users.cs.helsinki.fi/tsoha/suunnitelmat/mypage">Oma sivu</a>, toteutettu!</li>
    <li><a href="http://pelsaara.users.cs.helsinki.fi/tsoha/suunnitelmat/register">Rekisteröityminen</a>, toteutettu!</li>
</ul></p>
<p>Tältä sivustolta löydät tiedot ja arvostelut erilaisista meikkituotteista!</p>
  <p>
    <a href="http://tsoha.github.io" class="btn btn-primary btn-lg">Tutustu materiaaliin <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
{% endblock %}
